.theme-control {
  position: fixed;
  right: 0px;
  bottom: 72px;

  display: flex;
  flex-direction: column;
  height: 80px;

  background: var(--gray);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.go-top {
  width: 30px;
  height: 30px;
  padding: 5px;

  & svg {
    cursor: pointer;
    width: 30px;
    height: 30px;
    fill: var(--dark);
    transition: opacity 0.1s ease;
  }
}
.darkmode {
  width: 20px;
  height: 20px;
  padding: 10px;

  & > .toggle {
    display: none;
    box-sizing: border-box;
  }
  & > #darkmode-toggle {
    width: 40px;
    height: 40px;
  }

  & svg {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 10px;
    fill: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .toggle ~ label {
  & > #dayIcon {
    opacity: 0;
  }
  & > #nightIcon {
    opacity: 1;
  }
}

:root .toggle ~ label {
  & > #dayIcon {
    opacity: 1;
  }
  & > #nightIcon {
    opacity: 0;
  }
}
